%table {
  display: table;
  width: 100%;
}

%row {
  display: table-row;
}

%cell {
  display: table-cell;
}

%full_width {
  width: 100%;
}

%full_height {
  height: 100%;
}

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

%pad {
  @include rem(padding, $spacing);
}

hr {
  @include rem(margin, $spacing, 0);
}
