%table {
  display: table;
  width: 100%;
}

%row {
  display: table-row;
}

%cell {
  display: table-cell;
}

%full_width {
  width: 100%;
}

%full_height {
  height: 100%;
}

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

body {
  background-color: $bodyBackground;
}

hr {
  @include rem(margin, $spacing, 0);

  @media ($medium) {
    @include rem(margin, $spacingMedium, 0);
  }
}

.watermark {
  display: none;
  @extend %absolute;
  top: 0;
  right: 0;

  @media ($medium) {
    display: block;
  }

  a {
    @include rem(padding, 2);
    @include opacity(0.5);
    display: block;

    &:hover {
      @include opacity(1);
    }
  }
}
