// Layout

$spacing: 3;
$spacingSmall: 4;
$spacingMedium: 4;

// Colors

$white: #FFFFFF;
$black: #000000;
$offwhite: #EFEFEF;

$headerBackground: #262C2E;
$headerSubtle: scale-color($headerBackground, $lightness: -7%);

$bodyBackground: $offwhite;
$bodySubtle: scale-color($bodyBackground, $lightness: -7%);
$bodyColor: #333333;

$gray: #222835;
$gold: #DFD4C4;
$orange: #D3B09A;
$brown: #7A776C;
$darkBrown: darken($brown, 10%);
$darkBlue: #17191E;
$violet: #B394BC;

// Third-party colors
$twitter: #14adf1;
$facebook: #3d5ba0;
$googlePlus: #dd4b39;
$instagram: #e95b6a;

$socialIcons:
  facebook $facebook,
  twitter $twitter,
  google-plus $googlePlus;

// Typography

$baseFontSize: 62.5%; // So 1rem = 10px when browser has default font-size of 16px (i.e. 10/16 * 100)
$bodyFontSize: 2; // In rem

$lato: 'Lato';
$sourceSans: 'Source Sans Pro';

// Config

$imagePath: '../images/';

// Media queries

$small: "min-width: 37.5em"; // 600px
$medium: "min-width: 50em"; // 800px
$big: "min-width: 63.75em"; // 1020px

// Bootstrap overrides

$icon-font-path: '../fonts/bootstrap/';

$link-color: darken($gold, 8%);
