// Layout

$contentWidth: 60;
$sidebarWidth: 30;

$spacing: 3;
$spacingMedium: 4;


// Colors

$white: #FFFFFF;
$black: #000000;
$offwhite: #EFEFEF;

$headerBackground: $white;
$headerSubtle: scale-color($headerBackground, $lightness: -7%);

$bodyBackground: $offwhite;
$bodySubtle: scale-color($bodyBackground, $lightness: -7%);
$bodyColor: #333333;

// Third-party colors
$twitter: #14adf1;
$facebook: #3d5ba0;
$googlePlus: #dd4b39;
$instagram: #e95b6a;

$socialIcons:
  facebook $facebook,
  twitter $twitter,
  google-plus $googlePlus;

// Media queries

$small: "min-width: 37.5em"; // 600px
$medium: "min-width: 50em"; // 800px
$big: "min-width: 63.75em"; // 1020px


// Typography

$baseFontSize: 62.5%; // So 1rem = 10px when browser has default font-size of 16px (i.e. 10/16 * 100)
$bodyFontSize: 1.8; // In rem

// Iconography

$icon-font-path: '../fonts/bootstrap/';
