.page_header {
  background-color: $headerBackground;
  background-image: img('texture.png'), img('sidebar.jpg');
  background-repeat: repeat, no-repeat;
  background-size: auto, 100% auto;

  @media ($medium) {
    background-size: auto, 100% 100%;
  }
}

.logo {
  @include rem(font-size, 3);

  &, .icon {
    @include gradientText($orange, top left, darken($violet, 8%) 20%, darken($orange, 8%), darken($gold, 8%));
  }

  &:hover {
    @include background-image(linear-gradient(top left, $violet 20%, $orange, $gold));
  }

  @media ($small) {
    text-align: center;
  }

  @media ($medium) {
    @include rem(font-size, 3.6);
    text-align: left;
  }
}
