@font-face {
  font-family: 'tech-blog';
  src: url('#{$fontPath}icomoon/tech-blog.eot');
  src: url('#{$fontPath}icomoon/tech-blog.eot?#iefix') format('embedded-opentype'),
       url('#{$fontPath}icomoon/tech-blog.woff') format('woff'),
       url('#{$fontPath}icomoon/tech-blog.ttf') format('truetype'),
       url('#{$fontPath}icomoon/tech-blog.svg#junction_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyphicon:before {
  @include opacity(0.5);
}

.glyphicon, .text, .icon {
  @include inline-block;
}

.glyphicon ~ .text, .text ~ .glyphicon, .icon ~ .text, .text ~ .icon {
  @include rem(margin-left, 1);
}

/**
Icomoon css for custom icomoon.com font (see app/assets/fonts/icomoon)
*/

.icon {
  &:before {
    font-family: 'tech-blog';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0.9;
    color: inherit;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@include mod(icon) {
  &:not(.glyphicon) { // To stop clashes with Bootstrap
    @extend .icon;
  }
}

/* Classes create automatically by Icomoon. It's best to
leave these unedited and add modifications to extra selectors
below this list */

.icon-twitter:before {
  content: "\e60b";
}
.icon-user:before {
  content: "\e60c";
}
.icon-up:before {
  content: "\e60d";
}
.icon-unlocked:before {
  content: "\e60e";
}
.icon-social:before {
  content: "\e60f";
}
.icon-previous:before {
  content: "\e615";
}
.icon-next:before {
  content: "\e616";
}
.icon-mobile:before {
  content: "\e617";
}
.icon-lock:before {
  content: "\e618";
}
.icon-incorrect:before {
  content: "\e619";
}
.icon-home:before {
  content: "\e61a";
}
.icon-followup:before {
  content: "\e61b";
}
.icon-facebook:before {
  content: "\e61c";
}
.icon-email:before {
  content: "\e61d";
}
.icon-download:before {
  content: "\e610";
}
.icon-down:before {
  content: "\e611";
}
.icon-correct:before {
  content: "\e612";
}
.icon-contact:before {
  content: "\e613";
}
.icon-close:before {
  content: "\e614";
}
.icon-lifestyle:before {
  content: "\e600";
}
.icon-star:before {
  content: "\e601";
}
.icon-rocket:before {
  content: "\e602";
}
.icon-launch:before {
  content: "\e603";
}
.icon-rails:before {
  content: "\e604";
}
.icon-rails_curved:before {
  content: "\e605";
}
.icon-open:before {
  content: "\e606";
}
.icon-flames:before {
  content: "\e607";
}
.icon-dropdown:before {
  content: "\e608";
}
.icon-design:before {
  content: "\e609";
}
.icon-close_quotations:before {
  content: "\e60a";
}
.icon-globe:before {
  content: "\e61e";
}
.icon-link:before {
  content: "\e61f";
}
.icon-flag:before {
  content: "\e620";
}
.icon-googleplus:before {
  content: "\e621";
}
.icon-feed:before {
  content: "\e622";
}
.icon-github:before {
  content: "\e623";
}
.icon-github2:before {
  content: "\e624";
}
.icon-soundcloud:before {
  content: "\e625";
}
.icon-info:before {
  content: "\e626";
}
.icon-info2:before {
  content: "\e627";
}
.icon-question:before {
  content: "\e628";
}
.icon-warning:before {
  content: "\e629";
}

/* Modifications to icon classes */

.icon-dropdown:before {
  font-weight: bold;
  @include rem(font-size, 1.2);
  @include rem(margin-left, 0.4);
  @extend %inline_block;
  vertical-align: 5%;
  @include opacity(0.8);
}

/* ... Including social sharing icons... */

$social_icon_size: 3.6;

$socialIcons:
  facebook $facebook,
  twitter $twitter,
  googleplus $googlePlus;

%social_icon {
  @include rem(line-height, $social_icon_size);
  @include rem(height, $social_icon_size);
  @include rem(width, $social_icon_size);
  @include rem(border-radius, 0.2);

  text-align: center;
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

@each $brand in $socialIcons {
  $name: nth($brand, 1);
  $color: nth($brand, 2);

  .icon-#{$name} {
    @extend %social_icon;
    background-color: $color;
    @include transition(all 0.3s);
    @extend %relative;

    .content & {
      &:hover {
        background-color: scale-color($color, $lightness: 10%, $saturation: 10%);
        border-bottom: 1px solid scale-color($color, $lightness: -30%);
      }

      &:active {
        border-bottom: none;
        @include rem(top, 0.1);
      }
    }
  }
}

.icon-twitter {
  @include rem(line-height, $social_icon_size * 1.1);
}

.icon-googleplus {
  @include rem(font-size, 2.2);
  @include rem(line-height, $social_icon_size * 1.2);
}

.icon-facebook {
  @include rem(font-size, 2.4);
  @include rem(line-height, $social_icon_size * 1.3);
}

/* You can set up icons for your category pages like so */

.ember .icon {
  @extend .icon-flames;
}

.design .icon {
  @extend .icon-design;
}

.rails .icon {
  @extend .icon-rails;
}

.lifestyle .icon {
  @extend .icon-lifestyle;
}
