/*
.app {
  .header {
    .nav {

    }
  }
  .main {
    .content_wrapper {
      .content {

      }
    }
  }
}
*/

html, body {
  @extend %full_height;
  @extend %full_width;
}

.app {
  @extend %table;
  @extend %full_height;
  position: fixed;
}

.page_header {
  @include rem(min-width, $sidebarWidth);
  display: table-header-group;
  @extend %pad;

  @media ($medium) {
    display: table-cell;
    vertical-align: top;
  }
}

.logo {
  @include rem(padding, $spacing, $spacing, $spacing / 2);
  margin-bottom: 0;

  @media ($medium) {
    padding: 0;
    @include rem(margin-bottom, $spacing);
  }
}

.main {
  @extend %full_height;
  @extend %full_width;
  @extend %cell;
  vertical-align: top;
}

.content_wrapper {
  @extend %pad;
  @extend %full_height;
  overflow-y: scroll;
  @include box-sizing(content-box);
}

.content {
  @extend %table;
  @extend %full_height;
  @include rem(max-width, $contentWidth);
}

.footer {
  display: table-footer-group;
}
