/*
.page {
  .header {
    .nav {

    }
  }
  .main {
    .content {

    }
  }
}
*/

html, body {
  @extend %full_height;
  @extend %full_width;
}

body {
  background-color: $offwhite;
}

.page {
  @extend %table;
  @extend %full_height;
  position: fixed;
}

.header, .main {
  @extend %cell;
  vertical-align: top;
}

.header {
 @include rem(min-width, $sidebarWidth);
 @extend %pad;
}

.main {
  @extend %full_height;
  @extend %full_width;
}

.content_wrapper {
  @extend %pad;
  @extend %full_height;
  overflow-y: scroll;
  @include box-sizing(content-box);
}

.content {
  @extend %table;
  @extend %full_height;
  @include rem(max-width, $contentWidth);
}

.footer {
  display: table-footer-group;
}
