.nav {
  @include rem(font-size, 2);
  font-weight: 300;

  li ~ li {
    border-top: 1px solid $headerSubtle;
  }

  li {

    a {
      display: block;
      @include rem(padding, 1, $spacing);

      @media ($medium) {
        @include rem(padding, 1);
        @include rem(margin-left, -1);
      }
    }
  }
}

.nav_list {
  display: none; // See App.HeaderView
  padding: 0;
  margin: 0;
}

.nav_toggle {
  background-color: transparent;
  @include background-image(linear-gradient(transparent 50%, rgba($link-color, 0.5) 50%));
  @include rem(background-size, 1, 1);
  @extend %absolute;
  top: 0;
  right: 0;
  @include rem(height, 3);
  @include rem(width, 3.5);
  @include rem(padding, $spacing);
  @include background-clip(content-box);
  @include box-sizing(content-box);
}
