/**
Scale font so everything with REM sizing scales with the window width
*/

html {
  font-size: $baseFontSize * 0.9;

  @media($medium) {
    font-size: $baseFontSize * 0.95;
  }

  @media($big) {
    font-size: $baseFontSize;
  }
}

/**
Headings
*/

h1, h2 {
  font-family: $lato;
  font-weight: 300;
  margin-top: 0;
}

h1 {
  @include rem(margin-bottom, $spacing);
  color: #999;

  @media ($medium) {
    @include rem(margin-bottom, $spacingMedium);
  }
}

/**
Body and misc
*/

body {
  @include rem(font-size, $bodyFontSize);
  font-family: $sourceSans;
  color: $bodyColor;
}

.alt_text {
  @include rem(font-size, 1.6);
  text-transform: uppercase;
  font-family: $lato;
  font-weight: 400;
  @include opacity(0.5);
}

.date {
  @extend .alt_text;
}

.nav a {
  font-family: $lato;
}
