<h1 class="logo">
  {{#link-to 'blog'}}Blog{{/link-to}}
</h1>

<nav role="navigation">
  <ul>

    <li>
      {{#link-to 'blog'}}
        Latest
      {{/link-to}}
    </li>

    {{#each category in categories}}
      <li>
        {{#link-to 'blog.category' category.urlString}}
          {{capitalize-string category.name}}
        {{/link-to}}
      </li>
    {{/each}}

  </ul>
</nav>


