<h1 class="logo">
  {{#link-to 'blog'}}Blog{{/link-to}}
</h1>

<nav role="navigation">
  <ul>

    <li>
      {{#link-to 'blog'}}
        Latest
      {{/link-to}}
    </li>

    <li>
      {{#link-to 'blog.categories'}}
        Categories
      {{/link-to}}
    </li>

    <li>
      {{#link-to 'blog.authors'}}
        Authors
      {{/link-to}}
    </li>

    {{!-- You can display categories and authors too

    {{#each category in categories}}
      <li>
        {{#link-to 'blog.category' category.urlString}}
          {{capitalize-string category.name}}
        {{/link-to}}
      </li>
    {{/each}}

    {{#each author in authors}}
      <li>
        {{#link-to 'blog.author' author.urlString}}
          {{capitalize-string author.name}}
        {{/link-to}}
      </li>
    {{/each}} --}}

  </ul>
</nav>


