.posts {
  list-style: none;
  padding: 0;
}

.post_preview {
  @include rem(margin-bottom, 10);

  .date {
    @include rem(margin-top, -1);
  }
}

.post {
  .date {
    @include rem(margin-top, $spacing / -2);

    @media ($medium) {
      @include rem(margin-top, $spacingMedium / -2);
    }
  }
}

.tags {
  $tagVertPadding: 0.5;
  $tagHorizPadding: 1;

  @extend .list-inline;

  li {
    @include rem(font-size, 1.6);
    @include rem(margin-right, $tagVertPadding);
    background-color: rgba($bodyColor, 0.1);
    padding: 0;
  }

  a {
    display: block;
    @include rem(padding, $tagVertPadding, $tagHorizPadding);
    color: $bodyColor;

    &:hover {
      text-decoration: none; // Bootstrap doesn't like .text class

      .text {
        text-decoration: underline;
      }
    }
  }

  .glyphicon-bookmark {
    color: rgba($bodyColor, 0.4);
    @include rem(font-size, 2);
    @include rem(margin-top, -($tagVertPadding + 1));
  }

  .text ~ .glyphicon {
    @include rem(margin-left, $tagVertPadding);
  }
}
