<ul>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#each categories}}
    <li>
      {{#link-to 'category' this}}
        {{name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
