<nav class="nav" role="navigation">
  <ul class="nav_list">
    <li>{{#link-to 'index' title='The latest posts published on this blog'}}Latest{{/link-to}}</li>
    <li>{{#link-to 'about' title='Information about this blog'}}About{{/link-to}}</li>
    {{#each categories}}
      <li>
        {{#link-to 'category' this.name}}
          {{capitalize name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</nav>
