<nav class="nav" role="navigation">
  <ul class="nav_list">
    <li class="logo">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    {{#each categories}}
      <li>
        {{#link-to 'category' this}}
          {{name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</nav>
