<dl class="comment_count">
  <dt>
    <span class="hidden">Number of comments</span>
  </dt>
  <dd>
    <span class="glyphicon glyphicon-comment"></span>
    {{#link-to 'post' this.urlString commentCount='true' class='u-url text'}}{{/link-to}}
  </dd>
</dl>
