<ul class="tags">
  {{#each category in post.categories}}
    <li>
      {{#link-to 'blog.category' category.urlString}}
        {{capitalize-string category.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
