<h1>About {{blogTitle}}</h1>

<p>This is your about page. You're going to look very silly if you don't change it!</p>

<p class="endnote">p.s. You can change it in <code>app/templates/about.hbs</code></p>
