<h1>About Jebbit Labs</h1>

<p>Jebbit Labs is where we, <a href="//jebbit.com" target="_blank">Jebbit</a>'s tech team, blog about the pros and cons of developing pioneering adtech solutions on our avant-garde geocities-godaddy-dreamweaver stack.</p>

<p>To date, our biggest challenges have been when we forgot the password to our GoDaddy account and the day MS paint ran out of memory forcing a restart of the team's only working computer.</p>

<p>We believe in mobile-first development, rigirously testing our products on a wide range of Nokia products that don't have Internet browsing capabilities, and we believe in the benefits of utilizing cutting-edge communication technologies like Hotmail and MSN messenger to promote innovative conversation and collaboration.</p>

<p>If that's the kind of rockstar-dev lifestyle you're looking for then checkout our <a href="https://www.jebbit.com/careers" target="_blank" title="Careers at Jebbit">posted opportunities to join the team</a> or <a href="https://www.jebbit.com/contact" target="_blank" title="Contact the Jebbit team">get in touch</a> with us directly.</p>

<p class="endnote">p.s. We actually build on an Ember-Node-Rails-Postgres stack and we're hiring!</p>
