<h1>Post Not Found</h1>

<hr>

<p>Sorry, the post you are looking for cannot be found.</p>

{{#link-to 'index' class='button' title='See the latest blog posts'}}
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span class="text">Go back</span>
{{/link-to}}
