<nav class="nav" role="navigation">
  <ul class="nav_list">

    <li>
      {{#link-to 'index' title='The latest posts published on this blog'}}
        <span class="link_content">
          <i class="icon-star"></i>
          <span class="text">Latest</span>
        </span>
      {{/link-to}}
    </li>

    <li>
      {{#link-to 'about' title='Information about this blog'}}
        <span class="link_content">
          <i class="icon-info"></i>
          <span class="text">About</span>
        </span>
      {{/link-to}}
    </li>

    {{#each navigation.categories}}
      <li>
        {{#link-to 'category' urlString class=name}}
          <span class="link_content">
            <i class="icon"></i>
            <span class="text">{{capitalize-string name}}</span>
          </span>
        {{/link-to}}
      </li>
    {{/each}}

  </ul>
</nav>
