<article class="h-entry">
  <h2 class="p-name">
    {{#link-to 'post' this class='u-url'}}{{title}}{{/link-to}}
  </h2>

  <p class="date"><span class="glyphicon glyphicon-time"></span><time class="text dt-published" pubdate {{bind-attr datetime='published'}}>{{formatDate published}}</time></p>

  <p class="p-summary">{{description}}</p>
</article>
