<article class="h-entry">
  <h2 class="p-name">
    {{#link-to 'post' this class='u-url'}}{{title}}{{/link-to}}
  </h2>

  <p class="alt_text dt-published" pubdate>{{formatDate published}}</p>

  <p class="p-summary">{{description}}</p>
</article>
